<div class="auto_fix">
	<%= render 'layouts/footer' %>

	<div class="container">
		<h1>Welocme#index</h1>
		<p>Find me in app/views/welocme/index.html.erb</p>

		<%= link_to "about", about_path %>

	</div>


</div>
<div class="footer">
	
</div>	


<style type="text/css">
     html, body {
  	height: 100%;
  }
	.auto_fix {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -50px;
	}
	.footer {
		height: 50px;
		background: #3f51b5;
		width: 100%;
		clear: both;
	}
</style>